body
{
    font-family: 'Avenir';
    font-weight: lighter;

    margin: 0;
    padding: 0;

    background-color: #a0a090;
}

.main-container
{
    position: absolute;
    top: 50px;
    bottom: 50px;

    display: flex;
    overflow: hidden;
    align-items: center;

    width: 100%;

    border-top: 1px solid black;
    background-color: white;
}

.btn-col
{
    display: flex;
    flex-basis: 50%;
}

.img-col
{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;

    height: 100%;

    text-align: center;

    background: rgba(255,255,255,.7) url(../resources/track.jpg) no-repeat center center;
    background-size: cover;

    background-blend-mode: lighten;
}

.img-col > div
{
    /*adding 4 empty divs is kinda hacky, but it works.
    2% margins on the images are relative to total width.*/
    height: 2%;
}

.img-col > img
{
    height: calc(92%/3);
    margin: 0 auto;
}


.btn-container
{
    margin: 0 auto;

    text-align: center;
}

.btn-container > p
{
    font-size: 3em;

    margin: 0;

    color: #509;
}

.btn
{
    font-size: 1.2em;

    padding: 7px;

    cursor: pointer;
    user-select: none;

    color: white;
    border-radius: 5px;
    background-color: #332;
}

.btn:active
{
    transform: translate(1px,1px);
}

.footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    height: 50px;
    padding-left: 5%;

    color: white;
    background-color: #665;
}

.footer > p
{
    font-size: 1.3em;
    line-height: 40px;

    margin: 5px 0;

    vertical-align: middle;
}
@font-face
{
    font-family: 'Avenir';

    src: local('AvenirNextLTPro Regular.otf'),
    local('AvenirNextLTPro-Regular.otf'),
    url('./fonts/AvenirNextLTPro-Regular.otf'),
    format('opentype');
}
